body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  width: 380px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  outline: none;
  border-radius: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background: #ffcc00;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ffe066;
}

a {
  color: #ffcc00;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 10px;
}
